APP_ENV=development        # development | production
DEPLOY_ENV=local        # local | aws
# User with DDL permissions for database migrations (should match the user in db/initdb.d/02-init.sql)
POSTGRES_USER=nusc_migrator
POSTGRES_PASSWORD=change_me
# The application user with limited permissions (should match the user in db/initdb.d/02-init.sql)
POSTGRES_APP_USER=nusc_app
POSTGRES_APP_PASSWORD=change_me_app
# Database name (Should match the DB name in db/initdb.d/02-init.sql)
POSTGRES_DB=nusc_viewer
# pgAdmin (only for development, not started in production by docker-compose.prod.yml)
PGADMIN_EMAIL=pgadmin@sample.com
PGADMIN_PASSWORD=pgadmin
